<div class="grid__item product-list__item">
  {% if product.featured_image != blank %}
    <a class="product-list__item-image" href="{{ product.url }}">
      {% if product.options_by_name.Color != blank %}
        {% assign first_image = true %}
        {% for value in product.options_by_name.Color.values %}
          {% for variant in product.variants %}
            {% if variant.title contains value and variant.featured_image != blank %}
              <img
                srcset="
                  {%- if variant.featured_media.width >= 165 -%}{{ variant.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if variant.featured_media.width >= 360 -%}{{ variant.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if variant.featured_media.width >= 533 -%}{{ variant.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if variant.featured_media.width >= 720 -%}{{ variant.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if variant.featured_media.width >= 940 -%}{{ variant.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if variant.featured_media.width >= 1066 -%}{{ variant.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ variant.featured_media | image_url }} {{ variant.featured_media.width }}w
                "
                src="{{ variant.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ variant.featured_media.alt | escape }}"
                class="motion-reduce {% unless first_image %}hidden{% endunless %}"
                loading="lazy"
                width="{{ variant.featured_media.width }}"
                height="{{ variant.featured_media.height }}"
                data-color="{{ value | downcase }}"
              >
              {% assign first_image = false %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        {% if first_image %}
          <img
            srcset="
              {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
            "
            src="{{ product.featured_media | image_url: width: 533 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt="{{ product.featured_media.alt | escape }}"
            class="motion-reduce"
            loading="lazy"
            width="{{ product.featured_media.width }}"
            height="{{ product.featured_media.height }}"
          >
        {% endif %}
      {% else %}
        <img
          srcset="
            {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
          "
          src="{{ product.featured_media | image_url: width: 533 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
          alt="{{ product.featured_media.alt | escape }}"
          class="motion-reduce"
          loading="lazy"
          width="{{ product.featured_media.width }}"
          height="{{ product.featured_media.height }}"
        >
      {% endif %}
    </a>
  {% endif %}
  <div class="product-lsit__item-info">
    <div class="product-lsit__item-header">
      <a class="product-lsit__item-heading" href="{{ product.url }}">{{ product.title }}</a>
      <span class="product-lsit__item-price">{{ product.price }}</span>
    </div>
    {% assign rating = product.metafields.custom.reviews.value %}
    {% if rating != blank %}
      <div class="product-lsit__item-reviews">
        {% for i in (1..5) %}
          {% if i <= rating %}
            {% render 'icon-star' %}
          {% else %}
            {% render 'icon-star-empty' %}
          {% endif %}
        {% endfor %}
        {% if product.metafields.custom.rating_count != blank %}
          <span class="rating-count">
            <span aria-hidden="true">({{ product.metafields.custom.rating_count }})</span>
            <span class="visually-hidden">
              {{- product.metafields.custom.rating_count }}
              {{ 'accessibility.total_reviews' | t -}}
            </span>
          </span>
        {% endif %}
      </div>
    {% else %}
      <div class="product-lsit__item-reviews">
        {% for i in (1..5) %}
          {% render 'icon-star-empty' %}
        {% endfor %}
        {% if product.metafields.custom.rating_count != blank %}
          <span class="rating-count">
            <span aria-hidden="true">({{ product.metafields.custom.rating_count }})</span>
            <span class="visually-hidden">
              {{- product.metafields.custom.rating_count }}
              {{ 'accessibility.total_reviews' | t -}}
            </span>
          </span>
        {% else %}
          <span class="rating-count">
            <span aria-hidden="true">({{ 0 }})</span>
            <span class="visually-hidden">
              {{- 0 }}
              {{ 'accessibility.total_reviews' | t -}}
            </span>
          </span>
        {% endif %}
      </div>
    {% endif %}
    <div class="product-lsit__item-color-swatch">
      {% render 'product-color-swatch', product: product, section_id: section.id %}
    </div>
  </div>
</div>
